html{
    padding: none;
	margin: none;
    background-color: rgba(231, 194, 124, 0.315);
}
header{
    display: flex;
    justify-content: center;
}
body{
    background-color: whitesmoke;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 100px;
}
.playerName{
    grid-row: 1/1;
    display: flex;
    justify-content: space-around;
}
.playerScore{
    grid-row: 2/2;
    display: flex;
    justify-content: space-around;
}
.globalScorePlayer{
    grid-row: 2/2;
    display: flex;
    justify-content: space-around;
}