html{
    background-color: rgba(231, 194, 124, 0.315);
    font-size: 20px;
    font-family: Cambria;
}
html i.material-icons{
    font-size: 2rem;
    color: rgb(194, 0, 0);
}
header{
    display: flex;
    justify-content: center;
}
body{
    background-color: whitesmoke;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 1000px;
    padding: 1rem;
	margin: 1rem;
    font-size: 2rem;
}
.playerName{
    grid-row: 1/1;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.playerScore,.dice{
    grid-row: 2/2;
    display: flex;
    justify-content: space-around;
}
.globalScorePlayer,.rollDice,.hold{
    grid-row: 3/3;
    display: flex;
    justify-content: center;
    line-height: 100px;
}
span{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
.dice .material-icons{
    font-size: 10rem;
}
.playerScore{
    color: rgb(194, 0, 0);
    font-size: 4rem;
}
.globalScorePlayer{
    background-color: rgb(194, 0, 0);
}
#white{
    color: white;
}